body{
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
h1{
    font-size: 40px;
    line-height: 30px;
    font-weight: 500;
}
.name-highlight{
    color: deeppink;
    font-size: 50px;
    padding-bottom: 50px;
    font-weight: 800;
}
h2{
    font-size: 40px;
    line-height: 25px;
}
p{
    color: dimgray;
    padding-bottom: 20px;
}
q{
    font-weight: 500;
}
a{
    text-decoration: none;
}

.half-width{
    padding-top: 100px;
    max-width: 40%;
    float: left;
    padding-bottom: 10%;
}
.half-width img{
    max-width: 90%;
}
.header-text{
    padding-top: 300px;
    margin-left: 5%;
    padding-left: 7%;
}
.header-img{
    max-width: 40%;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg,rgb(233, 80, 162),rgb(235, 23, 104));
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    font-weight: 700;
}
.header-section{
    background-image: url("../images/header-bg.png");
    background-repeat: no-repeat;
    padding-bottom: 15%;
}

section{
    height: 800px;
    padding-bottom: 200px;
}
.half-width-biography{
    padding-top: 50px;
    max-width: 40%;
    float: left;
    
}
.half-width-biography img{
    max-width: 100%;
    margin-left: 30%;
    
}
.biography-text{
    margin-left: 15%;
    padding-left: 5%;
    padding-top: 250px;

}
.biography-section{
    background-image: url("../images/biography-bg.png");
    background-repeat: no-repeat;
    padding-bottom: 10%;
}
.work-area{
    max-width: 25%;
    float: left;
}
.work-area img{
    padding-top:10% ;
    max-width: 90%; 
}
.work-first-img{
    margin-left: 12.5%;
}
.work-last-img{
    margin-right: 12.5%;
}
.center-text{
    text-align: center;
}
.latest-work-section{
    background-image: url("../images/latest-work-bg.png");
    background-repeat: no-repeat;
    height: 400px;
}
.client-name{
    padding-top: 2%;
}
.email-button{    
    margin: 5% 33%;
    line-height: 15px;
    padding: 2%;
}
#button-message{   
    padding: 10px 20px;
    font-size: 12px;
    color: white;
    font-weight: 200;
}
#button-email{
    font-size: 20px;
    color: white;
    line-height: 50px;
    font-weight: 200;
}

footer{
    padding-top: 8%;
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    height: 600px;
    padding-bottom: 10%;
}
.copy-right{
    padding-top: 5%;
}
.exprience{
    height: 500px;
    background-image: url("../images/header-bg.png");
}
.exprience h2{
    padding-bottom: 2%;
}
.exprience img{
    padding-top:10% ;
    max-width: 90%;
     
}
.card{
    max-width: 25%;
    height: 2%;
    float: left;
    padding-left: 2%;
    transform-style: preserve-3d;
    transform:perspective(2000px);
    -webkit-transform:perspective(2000px);
    -moz-transform:perspective(2000px);
    -ms-transform:perspective(2000px);
    -o-transform:perspective(2000px);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.card-first{
    margin-left: 9.5%;
}
.card-last{
    margin-right: 9.5%;
}
.card:hover{
    z-index: 1000;
    transform:perspective(2000px) rotate(-10deg);
    -webkit-transform:perspective(2000px) rotate(-10deg);
    -moz-transform:perspective(2000px) rotate(-10deg);
    -ms-transform:perspective(2000px) rotate(-10deg);
    -o-transform:perspective(2000px) rotate(-10deg);
    
}
.card .img-box{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.card:hover .img-box{
    transform: rotateY(-135deg);
    -webkit-transform: rotateY(-135deg);
    -moz-transform: rotateY(-135deg);
    -ms-transform: rotateY(-135deg);
    -o-transform: rotateY(-135deg);
}
.card .img-box .img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card p{
    padding: 5%;
}
.card h2{
    padding-top: 5%;
    text-align: center;
}

